<main>
  {{#with content}}
  {{#if pages}}
  <div class="pages">
    <h1>{{title}}</h1>
    {{#each pages}}
    <section>
      <h2>
        <a href="{{url}}">{{title}}</a>
      </h2>
      <div class="post-date">{{printDate date}}</div>
      {{{content}}}
      {{#if preview}}
      <a href="{{url}}">Read More</a>
      {{/if}}
    </section>
    {{/each}}
  </div>
  <nav class="pages-navigation">
    <div class="page-previous">
      {{#if previousPageUrl}}
      <a href="{{previousPageUrl}}">&#8592; Previous Page</a>
      {{/if}}
    </div>
    <div class="page-number">Page {{pageNumber}}</div>
    <div class="page-next">
      {{#if nextPageUrl}}
      <a href="{{nextPageUrl}}">Next Page &#8594;</a>
      {{/if}}
    </div>
  </nav>
  {{/if}}

  {{#with page}}
  <section>
    <h1>
      <a href="{{url}}">{{title}}</a>
    </h1>
    {{{content}}}
  </section>
  {{/with}}

  {{#with post}}
  <section>
    <h1>
      <a href="{{url}}">{{title}}</a>
    </h1>
    <div class="post-date">{{printDate date}}</div>
    {{#if tags}}
    <div class="post-tags">
      <div class="post-tags-name">Tags: </div>
      <ul>
        {{#each tags}}
        <li>
          <a href="{{url}}">{{title}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{{content}}}
  </section>
  {{/with}}

  {{/with}}
</main>