<main>
  {{#with content}}
  {{#with posts}}
  <div class="pages">
    <h1>{{title}}</h1>
    {{#each items}}
    <section>
      <h2>
        <a href="{{link}}">{{title}}</a>
      </h2>
      <div class="post-date">{{printDate date}}</div>
      {{{body}}}
      <a href="{{link}}">Read More</a>
    </section>
    {{/each}}
  </div>
  {{#with pagination}}
  <nav class="pages-navigation">
    <div class="page-previous">
      {{#if previousLink}}
      <a href="{{previousLink}}">&#8592; Previous Page</a>
      {{/if}}
    </div>
    <div class="page-number">Page {{pageNumber}}</div>
    <div class="page-next">
      {{#if nextLink}}
      <a href="{{nextLink}}">Next Page &#8594;</a>
      {{/if}}
    </div>
  </nav>
  {{/with}}
  {{/with}}

  {{#with page}}
  <section>
    <h1>
      <a href="{{link}}">{{title}}</a>
    </h1>
    {{{body}}}
  </section>
  {{/with}}

  {{#with post}}
  <section>
    <h1>
      <a href="{{link}}">{{title}}</a>
    </h1>
    <div class="post-date">{{printDate date}}</div>
    {{#if tags}}
    <div class="post-tags">
      <div class="post-tags-name">Tags: </div>
      <ul>
        {{#each tags}}
        <li>
          <a href="{{link}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{{body}}}
  </section>
  {{/with}}

  {{/with}}
</main>